<div>
	<div class="container">
		<div class="row">


			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">

					<div class="carousel-item active">
						<img src="https://via.placeholder.com/150/000000/FFFFFF/?text=Vos films préferés ici.." class="d-block w-100" alt="...">
					</div>

					{% for film in allFilms %}
						<div class="carousel-item">
							<img src="{{film.getAffiche}}" class="d-block w-100" alt="{{film.getAffiche}}">
							<p>{{film.getTitre}}</p>
							<p>{{film.getRealisateur}}</p>
							<p>{{film.getAnnee}}</p>
						</div>
					</p>
				{% endfor %}

			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div></div><a href="ajouter_film">Ajouter un film</a>
